@inherits LayoutComponentBase

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm w-100 position-fixed">
    <div class="my-0 mr-md-auto font-weight-normal">
        <img src="https://planetagundam.com/logo.png" alt="Planeta Gundam" style="height:32px">
    </div>
    <h5 class="my-0 mr-md-auto font-weight-normal">
        <img src="https://bo2.ggame.jp/en/images/common/logo_gbo2.png" alt="GBO2" style="height:32px">
    </h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <NavLink class="btn btn-primary" href="/login">Vote</NavLink>
    </nav>
    <!--<a class="btn btn-outline-primary" href="#">Sign up</a>-->
</div>
<div class="container h-100 d-flex flex-column justify-items-center align-items-center text-center" style="padding-top:72px;padding-bottom:72px">
    @Body
</div>